<h2>Indeks IPM 2021</h2>
<p>
    Posvećena unapređenju i zaštiti digitalnih prava i sloboda, SHARE Fondacija od 2012. prati različite uticaje na ljudska prava u onlajn okruženju Srbije i regiona, sa posebnom pažnjom na medijski ekosistem: od bezbednosti novinara i zaštite digitalne sigurnosti medija, do zakonodavnih rešenja i primene propisa značajnih za slobodu govora i informisanja.
</p><p>
    Početkom 2021. pokrenuli smo razvoj statističkog alata koji ovu oblast osvetljava iz ugla građana, korisnika onlajn medija. Indeks privatnosti u medijima je kompozitni indikator koji omogućava pojednostavljenu analizu prakse u oblasti zaštite privatnosti građana u onlajn medijskoj sferi Srbije.
</p><p>
    Pokazatelji su grupisani u šest osnovnih kategorija, od tehničkih – kao što su kolačići ili vrste platformi, gde se bodovanje oslanja na usaglašena načela globalne zajednice – do obaveza propisanih zakonom ili etičkim kodeksom novinara.
</p><p>
    Za analizu je odabrano 50 onlajn medija čiji sadržaj pretežno čine vesti i aktuelnosti, bilo da je reč o samostalnim elektronskim izdanjima ili onlajn verzijama tradicionalnog formata. Lista je delom sastavljena prema najvećoj prosečnoj poseti, a delom po geografskoj oblasti ili značaju za javni interes.
</p>