<footer>
    <section class="left">
    <a href="https://birn.rs/">
        <img src="/images/birn-logo.png"
             style="padding-top: 5px; margin-right: 10px;" width="80">
    </a>
    <a href="https://www.sharefoundation.info/sr/o-nama/">
        <img src="/images/share-footer-logo.png" style="padding-top: 5px;" width="240">
    </a>
    <h4>Izjava o privatnosti</h4>
    <p>
        Sajtom na adresi indeks.onlajnmediji.rs upravlja Share Fondacija, Kapetan Mišina 6a, Kancelarija 31, Beograd.
        Prilikom vaše posete sajtu indeks.onlajnmediji.rs ne prikupljaju se podaci o ličnosti, niti se koriste kolačići (cookies).
    </p>
    </section>
    <section class="right">
        <h4>Projekat podržali:</h4>
        <img src="/images/footer-logo-1.png"
             class="support-logo" height="88">
        <img src="/images/footer-logo-2.png"
             class="support-logo" height="88">
        <img src="/images/kingdom-of-the-netherlands-logo.png"
             class="support-logo" height="88">
    <p>
        Stavovi izraženi na ovom sajtu ne predstavljaju nužno stavove  Ambasade Kraljevine Holandije u Beogradu,  Ambasade Kraljevine Norveške, Balkanskog fonda za demokratiju Nemačkog Maršalovog fonda SAD (Balkan Trust for Democracy of the German Marshall Fund of the U.S. – BTD) ili njihovih partnera.
    </p>
    </section>
</footer>